* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: #000;
}

#wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

.formSeparator {
  align-self: center;
  border-top: 1px solid #000;
  width: 92%;
}
