@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Roboto+Slab:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: #000;
}

#wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.formSeparator {
  align-self: center;
  border-top: 1px solid #000;
  width: 92%;
}

body {
  background-color: #fafafa;
  min-height: 100vh;
}

#root {
  height: inherit;
}
