.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: var(--white-two);
}

.profile {
  margin-left: auto;
}

.navbar {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 30px;
  margin-left: 100px;
}

.logo {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.profile img {
  height: 2.813rem;
}

.navbarItem > * {
  color: #525252;
  font-size: 0.813rem;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.header * {
  text-decoration: none;
}
